
<footer class="bg-dark text-light text-center py-4">
    <div class="container">
      <div class="row">
        <!-- Footer Navigation Links -->
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/" class="text-light">Home</a></li>
            <li><a href="/events" class="text-light">Events</a></li>
            <li><a href="/about" class="text-light">About</a></li>
            <li><a href="/contact" class="text-light">Contact</a></li>
          </ul>
        </div>
  
        <!-- Social Media Links -->
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="#" class="text-light mx-2"><i class="fab fa-facebook fa-lg"></i></a>
          <a href="#" class="text-light mx-2"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="#" class="text-light mx-2"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="#" class="text-light mx-2"><i class="fab fa-youtube fa-lg"></i></a>
        </div>
  
        <!-- Contact Information -->
        <div class="col-md-4">
          <h5>Contact</h5>
          <p>Email: support@concerts.com</p>
          <p>Phone: +123 456 7890</p>
        </div>
      </div>
  
      <!-- Copyright -->
      <hr class="bg-light">
      <p class="mb-0">© <%= new Date().getFullYear() %> Concerts. All rights reserved.</p>
    </div>
  </footer>
  