<div style="width: 500px; margin: auto; margin-top: 10%;">
  <h2 style="text-align: center; color: white;">Login</h2><br>
  <form action="/users/login" method="post">
    <div class="row justify-content-center" style="color: white;">
      <div class="form-group col-lg-12 col-md-10 col-sm-8 col-8">
        <label for="email">Email address</label>
        <input type="email" class="form-control form-control-sm" id="email" name="email" autocomplete="on">
      </div>
      <div class="form-group col-lg-12 col-md-10 col-sm-8 col-8">
        <label for="password">Password</label>
        <input type="password" class="form-control form-control-sm" id="password" name="password">
      </div>
      <% if(message){ %>
        <div style="color: red;">
          <p>
            <%= message %>
          </p>
        </div>
        <% } %>

    </div>

    <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="form-group form-check" style="color: white;text-align: center;">
      <hr>
      <p style="display: inline;font-size: smaller;">Doesn't have an account?</p>
      <a href="/users" style="font-size: smaller;">Register</a>
    </div>
  </form>

  <% if(errors && errors.length>0){ %>
    <div style="color: red;">
      <ul>
        <% errors.forEach(function(error){ %>
          <li>
            <%= error.msg %>
          </li>
          <% }) %>
      </ul>
    </div>
    <% } %>

</div>